
/* responsive part*/
@media screen {
    html,body{
        overflow-X:hidden;
    }
}
/* xs device-----------*/
@media (max-width: 575px) {
    // navbar part---------
    #navbar{
        padding: 0 !important;
        .navbar{
            .minimg{
                width: 120px !important;
                img{
                    width: 100%;
                }
            }
        }
    }
    // banner part---------
    #banner{
        padding: 70px 0 30px 0;
        .image_container{
            .figma, .mouse{
                display: none;
            }
            &::after{
                display: none;
            }
            &::before{
                display: none;
            }
        }
        .row{
            display: flex;
            flex-direction: column-reverse !important;
        }
        .diz_heading{
            padding: 20px 0 0 0;
            text-align: center;
            h3{
                font-size: 20px;
            }
            h1{
                font-size: 25px;
                margin: 0;
            }
            .creative{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
            .btn_icon{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap:5px;
                .about_me{
                    font-size: 14px;
                    padding: 5px 16px;
                    margin: 0 0 10px 0;
                }
                .twetIcon{
                    width: 100%;
                    margin-left: 0 0 10px 10px;
                    .bgblue{
                        max-width: 25px;
                        height: 25px;
                        .i{
                           
                            font-size: 12px;
                        }

                    }
                }
            }

        }
    }
    // experties-----------
    #experties {
        padding: 20px 0;
        .text-center{
            margin-bottom: 10px !important;
        }
        h4{
            font-size: 16px;
        }
        .expert_itm{
            .circle_blog{
                width: 70px;
                height: 70px;
            }
            span{
                h3{
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                }
            }
        }

    }
    // designfr------------
    #designFr{
        .row{
            flex-direction: column-reverse;
        }
        .designe_caption{
            text-align: center;
            h4{
                font-size: 18px;
            }
            h2{
                font-size: 22px;
            }
            p{
                font-size: 14px;
            }
            .hire_button{
                font-size: 14px;
                padding: 0px 16px;
                margin: 0 0 10px 0;
                a{
                    font-size: 14px;
                }
            }
        }
        .designer{
            text-align: center;
            .year {
                padding: 10px;
                position: static;
                margin-bottom: 15px;
                .yera{
                    font-size: 25px;
                }
                .experiance{
                    width: 250px;
                    font-size: 15px;
                }
            }
            .project{
                padding: 10px 30px;
                position: static;
                .nine{
                    font-size: 25px;
                }
                .k{
                    font-size: 25px;
                }
                .done{
                    width: 250px;
                    font-size: 15px;
                }
            }
        }
    }
    // portfolio-----------
    #portfolio{
        padding: 50px 0;
        h4{
            font-size: 18px !important;
        }
        h2{
            font-size: 22px !important;
        }
        p{
            font-size: 14px !important;
        }
        .portfoliobutton{
            margin: 0 !important;
            ul{
                padding-left: 0;
            }
        }
        .Imgfile{
            height: 100% !important;
        }
    }
    // design skill--------
    #design_skills{
        padding: 0 0 20px 0 !important;
        .skills{
            text-align: center;
            h4{
                font-size: 18px !important;
            }
            h2{
                font-size: 22px !important;
            }
            p{
                font-size: 14px;
            }
            .mainskills {
                text-align: left;
                h6{
                    font-size: 14px;
                }
            }
        }
        .skillerimg {
            text-align: center !important;
        }
    }
    // service-------------
    #services{
        padding: 50px 0;
        .axix{
            width: 100px;
            top:0;
        }
        .services_heading {
            h4{
                font-size: 18px;
            }
            h2{
                font-size: 22px !important;
            }
            p{
                font-size: 14px;
            }
        }
        .service_item {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px 10px;
            .servimg{
                margin-bottom: 20px !important;
                width: 60px;
                height: 60px;
                i{
                    font-size: 30px !important;
                }
            }
            .servdesign{
                margin-left: 0;
                text-align: center;
                h3{
                    font-size: 20px;
                    margin-bottom: 5px;
                }
                h6{
                    font-size: 16px;
                }
                p{
                    font-size: 14px;
                }

            }
        }
    }
    // testimonial---------
    #testimonial{
        .testimonials_hed {
            h4{
                font-size: 18px;
            }
            h2{
                font-size: 22px;
            }
            p{
                font-size: 14px;
            }
        }
        .profession_slick {
            i{
                font-size: 20px !important;
            }
            .para{
                width: 100% !important;
                p{
                    font-size: 15px !important;
                }
            }
            .img_degig{
                .radii{
                    width: 60px !important;
                    height: 60px !important;
                }
                span{
                    h5{
                        font-size: 16px;
                    }
                }
            }
        }
        .itemlogo{
            border-right: none !important;
            img{
                width: 130px;
            }
        }
        .bbttom{
            border-bottom: 1px solid #555 !important;
        }
    }
    // blog part-----------
    #blog{
        .blog_heading {
            h4{
                font-size: 18px;
            }
            h2{
                font-size: 22px;
            }
        }
        .blog_img{
            .sticker{
                .stick{
                    font-size: 14px !important;
                }
                small{
                    font-size: 12px;
                }
            }
        }
        .bloge_txt{
            h6{
                font-size: 10px !important;
            }
            h5{
                
                a{
                    font-size: 14px !important;
                }

            }
        }
    }
    // newealetter---------
    #newesleter {
        padding: 50px 0 !important;
        .newesGreen{
            padding: 10px;
        }
        .leter{
            text-align: center;
            .newesSpan{
                font-size: 16px !important;
            }
            .newesSpan2{
                font-size: 23px !important;
            }
            p{
                font-size: 14px !important;
            }
        }
        form{
            justify-content: center !important;
            margin: 10px 0 !important;
            .inp_group{
                width: 100%;
                input{
                    &::placeholder{
                        font-size: 12px !important;
                    }
                }
                button{
                    padding: 7px 10px !important;
                    font-size: 12px !important;
                }
            }
        }
    }
    // contact--------------
    #contact{
        padding: 0 !important;
        .contact_heading {
            h4{
                font-size: 18px !important;
            }
            h2{
                font-size: 22px !important;
            }
            p{
                font-size: 14px;
            }
        }
        .via{
            .contact_icon{
                width: 60px;
                height: 60px;
            }
            .address {
                .pixel32{
                    font-size: 22px !important;
                }
            }
        }
        form{
            .fvalid{
                padding: 3px 20px 4px !important;
                font-size: 14px;
            }
        }
        .map{
            margin: 0 0 20px 0!important;
            height: 300px;
        }
    }
    // footer---------------
    footer{
        padding: 10px 0;
        .copy{
            text-align: center;
            .copyp{
                width: 100%;
                font-size: 14px;
            }
        }
        .end{
            text-align: center;
            span{
                font-size: 14px;
                margin: 0 5px !important;
            }
        }
    }
}
// sm device-----------
@media (min-width: 576px) and (max-width: 767.98px){
    // navbar part---------
    #navbar{
        padding: 0 !important;
        .navbar{
            .minimg{
                width: 120px !important;
                img{
                    width: 100%;
                }
            }
        }
    }
    // banner part---------
    #banner{
        padding: 70px 0 30px 0;
        .image_container{
            .figma, .mouse{
                display: none;
            }
            &::after{
                display: none;
            }
            &::before{
                display: none;
            }
        }
        .row{
            display: flex;
            flex-direction: column-reverse !important;
        }
        .diz_heading{
            padding: 20px 0 0 0;
            text-align: center;
            h3{
                font-size: 20px;
            }
            h1{
                font-size: 25px;
                margin: 0;
            }
            .creative{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
            .btn_icon{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap:5px;
                .about_me{
                    font-size: 14px;
                    padding: 5px 16px;
                    margin: 0 0 10px 0;
                }
                .twetIcon{
                    width: 100%;
                    margin-left: 0 0 10px 10px;
                    .bgblue{
                        max-width: 25px;
                        height: 25px;
                        .i{
                            
                            font-size: 12px;
                        }

                    }
                }
            }

        }
    }
    // experties-----------
    #experties {
        padding: 20px 0;
        .text-center{
            margin-bottom: 10px !important;
        }
        h4{
            font-size: 16px;
        }
        .expert_itm{
            .circle_blog{
                width: 70px;
                height: 70px;
            }
            span{
                h3{
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                }
            }
        }

    }
    // designfr------------
    #designFr{
        .row{
            flex-direction: column-reverse;
        }
        .designe_caption{
            text-align: center;
            h4{
                font-size: 18px;
            }
            h2{
                font-size: 22px;
            }
            p{
                font-size: 14px;
            }
            .hire_button{
                font-size: 14px;
                padding: 0px 16px;
                margin: 0 0 10px 0;
                a{
                    font-size: 14px;
                }
            }
        }
        .designer{
            padding: 0;
            text-align: center;
            .year {
                padding: 10px;
                margin-bottom: 15px;
                .yera{
                    font-size: 25px;
                }
                .experiance{
                    font-size: 15px;
                }
            }
            .project{
                padding: 10px 30px;
                .nine{
                    font-size: 25px;
                }
                .k{
                    font-size: 25px;
                }
                .done{
                    font-size: 15px;
                }
            }
        }
    }
    // portfolio-----------
    #portfolio{
        padding: 50px 0;
        h4{
            font-size: 18px !important;
        }
        h2{
            font-size: 22px !important;
        }
        p{
            font-size: 14px !important;
        }
        .portfoliobutton{
            margin: 0 !important;
            ul{
                padding-left: 0;
            }
        }
        .Imgfile{
            height: 100% !important;
        }
    }
    // design skill--------
    #design_skills{
        padding: 0 0 20px 0 !important;
        .skills{
            text-align: center;
            h4{
                font-size: 18px !important;
            }
            h2{
                font-size: 22px !important;
            }
            p{
                font-size: 14px;
            }
            .mainskills {
                text-align: left;
                h6{
                    font-size: 14px;
                }
            }
        }
        .skillerimg {
            text-align: center !important;
        }
    }
    // service-------------
    #services{
        padding: 50px 0;
        .axix{
            width: 100px;
            top:0;
        }
        .services_heading {
            h4{
                font-size: 18px;
            }
            h2{
                font-size: 22px !important;
            }
            p{
                font-size: 14px;
            }
        }
        .service_item {
            padding: 20px 10px;
            .servimg{
                margin-bottom: 20px !important;
                width: 60px;
                height: 60px;
                i{
                    font-size: 30px !important;
                }
            }
            .servdesign{
                h3{
                    font-size: 20px;
                    margin-bottom: 5px;
                }
                h6{
                    font-size: 16px;
                }
                p{
                    font-size: 14px;
                }

            }
        }
    }
    // testimonial---------
    #testimonial{
        .testimonials_hed {
            h4{
                font-size: 18px;
            }
            h2{
                font-size: 22px;
            }
            p{
                font-size: 14px;
            }
        }
        .profession_slick {
            i{
                font-size: 20px !important;
            }
            .para{
                width: 100% !important;
                p{
                    font-size: 15px !important;
                }
            }
            .img_degig{
                .radii{
                    width: 60px !important;
                    height: 60px !important;
                }
                span{
                    h5{
                        font-size: 16px;
                    }
                }
            }
        }
        .itemlogo{
            padding:40px 20px !important;
            border-right: 1px solid #555 !important;
            display: grid;
            place-items: center;
            img{
                width: 80%;
            }
        }
        .md_child{
            border-right: none !important;
        }
        .bbttom{
            border-bottom: 1px solid #555 !important;
        }
        .md7n{
            border-bottom: none !important;
        }
    }
    // blog part-----------
    #blog{
        .blog_heading {
            h4{
                font-size: 18px;
            }
            h2{
                font-size: 22px;
            }
        }
        .blog_img{
            .sticker{
                .stick{
                    font-size: 14px !important;
                }
                small{
                    font-size: 12px;
                }
            }
        }
        .bloge_txt{
            h6{
                font-size: 10px !important;
            }
            h5{
                
                a{
                    font-size: 14px !important;
                }

            }
        }
    }
    // newealetter---------
    #newesleter {
        padding: 50px 0 !important;
        .newesGreen{
            padding: 10px;
        }
        .leter{
            text-align: center;
            .newesSpan{
                font-size: 16px !important;
            }
            .newesSpan2{
                font-size: 23px !important;
            }
            p{
                font-size: 14px !important;
            }
        }
        form{
            justify-content: center !important;
            margin: 10px 0 !important;
            .inp_group{
                width: 100%;
                input{
                    &::placeholder{
                        font-size: 12px !important;
                    }
                }
                button{
                    padding: 7px 10px !important;
                    font-size: 12px !important;
                }
            }
        }
    }
    // contact--------------
    #contact{
        padding: 0 !important;
        .contact_heading {
            h4{
                font-size: 18px !important;
            }
            h2{
                font-size: 22px !important;
            }
            p{
                font-size: 14px;
            }
        }
        .via{
            .contact_icon{
                width: 60px;
                height: 60px;
            }
            .address {
                .pixel32{
                    font-size: 22px !important;
                }
            }
        }
        form{
            .fvalid{
                padding: 3px 20px 4px !important;
                font-size: 14px;
            }
        }
        .map{
            margin: 0 0 20px 0!important;
            height: 300px;
        }
    }
    // footer---------------
    footer{
        padding: 10px 0;
        .copy{
            text-align: center;
            .copyp{
                width: 100%;
                font-size: 14px;
            }
        }
        .end{
            text-align: center;
            span{
                font-size: 14px;
                margin: 0 5px !important;
            }
        }
    }

}
// md device-----------
@media (min-width: 768px) and (max-width: 991.98px){
    // navbar part---------
    #navbar{
        padding: 0 !important;
        .navbar{
            .minimg{
                width: 150px !important;
                img{
                    width: 100%;
                }
            }
        }
    }
    // banner part---------
    #banner{
        padding: 70px 0 30px 0;
        .image_container{
            .figma, .mouse{
                display: none;
            }
            &::after{
                display: none;
            }
            &::before{
                display: none;
            }
        }
        .row{
            display: flex;
            flex-direction: column-reverse !important;
        }
        .diz_heading{
            padding: 20px 0 0 0;
            text-align: center;
            h3{
                font-size: 20px;
            }
            h1{
                font-size: 25px;
                margin: 0;
            }
            .creative{
                font-size: 16px;
            }
            p{
                font-size: 14px;
            }
            .btn_icon{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap:5px;
                .about_me{
                    font-size: 14px;
                    padding: 5px 16px;
                    margin: 0 0 10px 0;
                }
                .twetIcon{
                    width: 100%;
                    margin-left: 0 0 10px 10px;
                    .bgblue{
                        max-width: 25px;
                        height: 25px;
                        .i{
                            
                            font-size: 12px;
                        }

                    }
                }
            }

        }
    }
    // experties-----------
    #experties {
        padding: 20px 0;
        .text-center{
            margin-bottom: 10px !important;
        }
        h4{
            font-size: 16px;
        }
        .expert_itm{
            .circle_blog{
                width: 70px;
                height: 70px;
            }
            span{
                h3{
                    font-size: 18px;
                }
                p{
                    font-size: 14px;
                }
            }
        }

    }
    // designfr------------
    #designFr{
        .row{
            flex-direction: column-reverse;
        }
        .designe_caption{
            text-align: center;
            h4{
                font-size: 18px;
            }
            h2{
                font-size: 22px;
            }
            p{
                font-size: 14px;
            }
            .hire_button{
                font-size: 14px;
                padding: 0px 16px;
                margin: 0 0 10px 0;
                a{
                    font-size: 14px;
                }
            }
        }
        .designer{
            padding: 0;
            text-align: center;
            .year {
                padding: 10px;
                margin-bottom: 15px;
                .yera{
                    font-size: 25px;
                }
                .experiance{
                    font-size: 15px;
                }
            }
            .project{
                padding: 10px 30px;
                .nine{
                    font-size: 25px;
                }
                .k{
                    font-size: 25px;
                }
                .done{
                    font-size: 15px;
                }
            }
        }
    }
    // portfolio-----------
    #portfolio{
        padding: 50px 0;
        h4{
            font-size: 18px !important;
        }
        h2{
            font-size: 22px !important;
        }
        p{
            font-size: 14px !important;
        }
        .portfoliobutton{
            margin: 0 !important;
            ul{
                padding-left: 0;
            }
        }
        .Imgfile{
            height: 100% !important;
        }
    }
    // design skill--------
    #design_skills{
        padding: 0 0 20px 0 !important;
        .skills{
            text-align: center;
            h4{
                font-size: 18px !important;
            }
            h2{
                font-size: 22px !important;
            }
            p{
                font-size: 14px;
            }
            .mainskills {
                text-align: left;
                h6{
                    font-size: 14px;
                }
            }
        }
        .skillerimg {
            text-align: center !important;
        }
    }
    // service-------------
    #services{
        padding: 50px 0;
        .axix{
            width: 100px;
            top:0;
        }
        .services_heading {
            h4{
                font-size: 18px;
            }
            h2{
                font-size: 26px !important;
            }
            p{
                font-size: 14px;
            }
        }
        .service_item {
            padding: 20px 10px;
            .servimg{
                margin-bottom: 20px !important;
                width: 60px;
                height: 60px;
                i{
                    font-size: 50px !important;
                }
            }
            .servdesign{
                h3{
                    font-size: 20px;
                    margin-bottom: 5px;
                }
                h6{
                    font-size: 16px;
                }
                p{
                    font-size: 14px;
                }

            }
        }
    }
    // testimonial---------
    #testimonial{
        .testimonials_hed {
            h4{
                font-size: 18px;
            }
            h2{
                font-size: 22px;
            }
            p{
                font-size: 14px;
            }
        }
        .profession_slick {
            i{
                font-size: 20px !important;
            }
            .para{
                width: 100% !important;
                p{
                    font-size: 15px !important;
                }
            }
            .img_degig{
                .radii{
                    width: 60px !important;
                    height: 60px !important;
                }
                span{
                    h5{
                        font-size: 16px;
                    }
                }
            }
        }
        .itemlogo{
            padding:40px 20px !important;
            border-right: 1px solid #555 !important;
            display: grid;
            place-items: center;
            img{
                width: 80%;
            }
        }
        .md_child{
            border-right: none !important;
        }
        .bbttom{
            border-bottom: 1px solid #555 !important;
        }
        .md7n{
            border-bottom: none !important;
        }
    }
    // blog part-----------
    #blog{
        .blog_heading {
            h4{
                font-size: 18px;
            }
            h2{
                font-size: 22px;
            }
        }
        .blog_img{
            .sticker{
                .stick{
                    font-size: 14px !important;
                }
                small{
                    font-size: 12px;
                }
            }
        }
        .bloge_txt{
            h6{
                font-size: 10px !important;
            }
            h5{
                
                a{
                    font-size: 14px !important;
                }

            }
        }
    }
    // newealetter---------
    #newesleter {
        padding: 50px 0 !important;
        .newesGreen{
            padding: 10px;
        }
        .leter{
            text-align: center;
            .newesSpan{
                font-size: 16px !important;
            }
            .newesSpan2{
                font-size: 23px !important;
            }
            p{
                font-size: 14px !important;
            }
        }
        form{
            justify-content: center !important;
            margin: 10px 0 !important;
            .inp_group{
                width: 100%;
                input{
                    &::placeholder{
                        font-size: 12px !important;
                    }
                }
                button{
                    padding: 7px 10px !important;
                    font-size: 12px !important;
                }
            }
        }
    }
    // contact--------------
    #contact{
        padding: 0 !important;
        .contact_heading {
            h4{
                font-size: 18px !important;
            }
            h2{
                font-size: 22px !important;
            }
            p{
                font-size: 14px;
            }
        }
        .via{
            .contact_icon{
                width: 60px;
                height: 60px;
            }
            .address {
                .pixel32{
                    font-size: 22px !important;
                }
            }
        }
        form{
            .fvalid{
                padding: 3px 20px 4px !important;
                font-size: 14px;
            }
        }
        .map{
            margin: 0 0 20px 0!important;
            height: 300px;
        }
    }
    // footer---------------
    footer{
        padding: 10px 0;
        .copy{
            text-align: center;
            .copyp{
                width: 100%;
                font-size: 14px;
            }
        }
        .end{
            text-align: center;
            span{
                font-size: 14px;
                margin: 0 5px !important;
            }
        }
    }
}
// lg device-----------
@media (min-width: 992px) and (max-width: 1199.98px){
    /* navbar part------*/
}
// xl device-----------
@media (min-width: 1200px) and (max-width: 1399.98px){

}
// xxl device-----------
@media (min-width: 1400px){
    // navbar part------
}