@import "../variables/variable";
@import "../mixins/mixin";
/*banner part*/
#banner{
    width: 100%;
    background: url(../images/dizmeBanner.jpg) no-repeat center/cover;
    padding:157px 0;
    .diz_heading{
        width: 100%;
        padding-top: 70px;
        h3{
            @include h3;
            color:$deepRed;
        }
        h1{
            @include h1;
            margin-bottom: 20px;
        }
        .creative{
            font-size:22px;
            font-weight:500;
            color:$white;
            line-height: 1.5;
            font-family: $openSans;
        }
        p{
            color:$white;
            @include paragraph;
        }
        .btn_icon{
            display: inline-flex;
            gap:60px;
            .about_me{
                @include cmnBtn1;
            }
            .twetIcon{
                display: flex;
                align-items: center;
                justify-content: center;
                gap:20px;
                .bgblue{
                    display: grid;
                    place-items:center;
                    width: 30px;
                    height:30px;
                    border-radius:5px;
                    background:$blue;
                }
                .i{
                    font-size:20px;
                    color:$white;
                    &:hover{
                        color:$deepRed;
                    }
                }
            }
        }
    }
    .image_container{
        width: 100%;
        display: block;
        position: relative;
        img{
            width: 60%;
        }
        .figma{
            display: block;
            width: 50px;
            height:50px;
            background:$white;
            border-radius:5px;
            outline:1px solid $white;
            display: grid;
            place-items:center;
            position: absolute;
            left: 35%;
            bottom:7%;
            animation: run 3s alternate cubic-bezier(0.94, 0.46, 0.08, 0.48) infinite;
        }
        &::before{
            position:absolute;
            content:"Ai";
            font-size:30px;
            font-weight: 500;
            left: 20%;
            top: 8%;
            width: 50px;
            height:50px;
            color:$deepRed;
            background:$nav;
            display: block;
            outline:1px solid $white;
            border-radius:5px;
            animation: run 3s alternate cubic-bezier(0.94, 0.46, 0.08, 0.48) infinite;
        }
        &::after{
            position:absolute;
            content:"Ps";
            font-size:30px;
            font-weight: 500;
            right: 20%;
            top: 30%;
            width: 50px;
            height:50px;
            color:$blue;
            background:$nav;
            display: block;
            outline:1px solid $white;
            border-radius:5px;
            animation: run 3s alternate cubic-bezier(0.94, 0.46, 0.08, 0.48) infinite;
        }
        .mouse{
            position: absolute;
            left: -2%;
            bottom: -5%;
            .mouse{
                display: block;
                animation: mice 3s alternate cubic-bezier(0.94, 0.46, 0.08, 0.48) infinite;
            }
        }
        @keyframes run {
            0%{
                transform:translateY(-15px)
            }
            100%{
                transform:translateY(15px)
            }
        }
        @keyframes mice {
            0%{
                transform:translateY(-12%)
            }
            100%{
                transform:translateY(12%)
            }
        }
    }
}