/* variabls start*/
$white:#fff;
$deepRed:#f75023;
$green:#1cbe59;
$yellow:#f0c45c;
$blue:#00a9ff;
$para:#b9b5c9;
$nav:#2b2d33;
$bodylight:#4b4f5c;
$border:#555555;
// family-------
$jost:'Jost', sans-serif;
$openSans:'Open Sans', sans-serif;
/* variabls end*/